<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstar">

    <uses-feature android:name="android.hardware.camera.ar" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".spekasuszen6"></activity>
        <activity android:name=".ARzenfone6" />
        <activity android:name=".menuVivo" />
        <activity android:name=".menuOneplus" />
        <activity android:name=".menuHuawei" />
        <activity android:name=".menuApple" />
        <activity android:name=".menuSamsung" />
        <activity android:name=".menuAsus" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>